/* колір основного тексту #212121 */
/* білий #FFFFFF */
/* вторинний колір #757575 */
/* акцент color: #2196F3 */
/* акцент фону #2F303A */
/* основний фон #F5F5F5 */
/* вторинний колір фону #F5F4FA */

body {
	font-family: "Roboto Bold", sans-serif;
	background-color: #f5f5f5;
	color: #212121;
}
.list {
	list-style: none;
}
/* ---------------------HEADER----------------- */

.logo-color,
.logo {
	ont-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.logo-color {
	color: #2196f3;
}
.logo {
	color: #000000;
}
.site-nav,
.contacts-nav {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav a {
	color: #212121;
}
.contacts-nav a {
	color: #757575;
}
